*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    background-color: rgb(0, 187, 187);
}

.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card{
    height: calc(20% - 10px);  
    width: calc(12.5% - 10px);  
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
}

.card:active{
    transform: scale(0.97);
    transition: transform .3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    overflow: hidden;     
}

.card-front {
    background: white;      
    transform: rotateY(180deg);
}

.card-back {
    background-size: cover;        
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('IMAGEM_DO_VERSO.png');
}


.card-front{
    transform: rotateY(180deg);
}

.card.flip{
    transform: rotateY(180deg);
}

body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: rgb(0, 153, 255);
    text-decoration: none;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    font-weight: 700;
    font-size: 17px;
    margin-top: 10px;
}
.restart {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.game-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    margin-top: 20px;
}

.game-bottom .score,
.game-bottom .timer {
    background: #222;
    color: #fff;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 8px #0006;
}

.restart-btn {
    background: #5a3dfa;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.titulo-memoria {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #dd0505;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 12px;
    text-shadow: 0 0 10px #0008;
    letter-spacing: 2px;
}

.times-futebol {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #ebe264;
    color: #000000;
    padding: 12px 20px;
    border-radius: 12px;
    text-shadow: 0 0 10px #0008;
    letter-spacing: 1px;







